body {
    text-align: center;
    background-color: green;
    color: gold;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}

h3 {
    text-align: left;
}

a {
    color: gold;
    font-size: large;
}

ul {
    list-style-type: circle;
    text-align: left;
}

ol {
    text-align: left;
    align-self: center;
}

img {
    height: auto;
    width: 200px;
}